# -------------------------------------------------
# macOS
# -------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# -------------------------------------------------
# Xcode
# -------------------------------------------------
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.hmap

# -------------------------------------------------
# Build artifacts
# -------------------------------------------------
build/
*.ipa
*.dSYM
*.dSYM.zip

# -------------------------------------------------
# Swift Package Manager
# -------------------------------------------------
.build/
Packages/
Package.resolved

# -------------------------------------------------
# Playgrounds
# -------------------------------------------------
timeline.xctimeline
playground.xcworkspace

# -------------------------------------------------
# Carthage
# -------------------------------------------------
Carthage/Build/

# -------------------------------------------------
# fastlane
# -------------------------------------------------
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# -------------------------------------------------
# Logs & temp
# -------------------------------------------------
*.log
*.tmp